<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.cs147.educonnectapp">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TeacherConfirmedSubmission"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentDashboardActivity" />
        <activity android:name=".ClassList" />
        <activity
            android:name=".SubmissionActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SubmittedActivity" />
        <activity android:name=".TeacherClassListAcitivty" />
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".ClassResultsActivity" />
        <activity android:name=".RedFlagsActivity" />
        <activity
            android:name=".TeacherSubmissionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".TeacherSubmittedActivity" />
        <activity android:name=".DataBreakdownActivity" />
        <activity android:name=".PastDataActivity" />
        <activity android:name=".TeacherMessagesListActivity" />
        <activity android:name=".TeacherIndividualMessageActivity" />
        <activity android:name=".StudentMessagesActivity" />
        <activity android:name=".StudentHistoryActivity" />
        <activity android:name=".RosterActivity" />
        <activity android:name=".StudentDetailedResultsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6a662a43552ea19aded2d7ac6176d9668b419a96" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>